<h3>{{question.content}}</h3>
<p>By: {{question.author}}</p>
<p>Notes: {{question.notes}}</p>

{{#if questionFavorited}}
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
{{else}}
  <button class="btn btn-default btn-lg" {{action 'addToFavorites' question}}>Add To Favorites</button>
{{/if}}
